<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quadro de Horário do Estudante</title>
</head>
<body>
    <h1>Quadro de Horário do Estudante</h1>

    <table>
        <thead>
            <tr>
                <th>Disciplina</th>
                <th>Dia da Semana</th>
                <th>Horário</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="quadroHorario : ${quadroHorarios}">
                <td th:text="${quadroHorario.disciplina.nome}"></td>
                <td th:text="${quadroHorario.diaSemana}"></td>
                <td th:text="${quadroHorario.horario}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
